<div>Paddle number:</div>	
<br>
<div style="font-size: 75px"><%= @number %></div>
<br>
<br>
<div style="font-size: 20px"><%= link_to "create another user", new_user_path %></div>
<br>
<div style="font-size: 13px"><%= link_to "back to users list", users_path %></div>
