<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4><%= @user.name %>,</h4>
    <p>
    	Thank you for your auction participation.  Attached is an itemized list of the items you have won.

      <%= @message %>
    </p>
  </body>
</html>